<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shawn.newrollcall">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".login.view.LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainView.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ScanBLEModel.view.WriteDataToDeviceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ScanBLEModel.view.SetDeviceRemindActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ScanBLEModel.view.ScanActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ScanBLEModel.view.ManualEditActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ScanBLEModel.view.RollCallActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Signup.view.SignUpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainView.GroupList.view.CreateGroupActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".DeviceListInGroup.view.DeviceListInGroupActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RollCall.view.RollCallResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ToDo.view.ToDoActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".ScanBLEModel.view.WriteDataToDeviceService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".AlarmClock.AlarmBroadcast"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>


    </application>

</manifest>